*
{
	border: 0;	
	margin: 0;
	padding: 0;
}

body
{
	font-family: Helvatica, Arial;
	background: #EFFBF8;
}

h1
{
	
	text-align: center;
	font-size: 2rem;
	display: inline-block;
	color: black;	
	width: 80%;
	vertical-align: 80%;
	height: 5px;
	padding: 5%;
}
h2
{
	display: block;
	text-align: center;
	width: 100%;
	margin-top: 4%;
}
h4
{
	text-align: left;
	margin-top: 2%;
}

div
{
	text-align: left;

}
header
{
	background: #045FB4;
	margin: 0;
	margin-bottom: 2%;
}

.logounad{
	
	display: inline-block;	
	text-align: left;	
	width: 125px;
	height: 125px;	
}

p
{
	text-align: left;
	width: 70%;
}
.menu{
	display: block;
	width: 100%;
}
ul, ol{
	padding: 0px;
	margin: 0px;
	list-style: none;
}
.nav li a {
	background: #045FB4;
	color: white;
	text-decoration: none;
	padding: 10px 15px;
	display: block;
}
.nav li a: hover {
	background-color:#084B8A;
	padding: 0px;
	margin: 0px;
	border-color: black;
}
.nav > li{
	float: left;
}
.nav li ul{
	display: none;
	position: absolute;
	min-width: 140px;
}
.nav li:hover> ul{
	display: block;

}
.nav li ul li{
	position: relative;
}
.nav li ul li ul{
	right: -140px;
	top: 0px;
}
.principal{
	display: block;
	margin: 4%;
	margin-top: 7%;
	width: 95%;
}
.text_principal{
	margin: 1% 0%;
	text-align: justify;
	width: 98%;
}
footer{	
	display: inline-block;
	text-align: center;
	width: 100%;
	margin-bottom: 6%;
}
a{
	text-align: center;
}	
.multimedia{	
	width: 50%;
	height: 400px;
	text-align: center;
	margin: 0% 25% 10% 25%;		
}
.multi1{
	width: 60%;
	margin: 8% 20% 2% 20%;
	text-align: center;
}
.multi2{
	width: 60%;
	margin: 0% 20% 2% 20%;
	text-align: justify;
}
.contador{
	height: 80px;
	width: 10%;
}
.autor{
	display: block;
	width: 100%;
	margin: 2% 0%;
}
.info{
	vertical-align: middle;
	display: inline-block;
	width: 35%;
	margin-right: 3%;
	padding-left: 15%;
}
.foto{
	vertical-align: middle;
	display: inline-block;
	width: 17%;
	height: 190px;
}
.datos{
	display: block;
	width: 98%;
	margin: 0.5% 0%;
}
.imgtwitter{
	margin-right: 3%;
	margin-top: 1%;
	width: 4%;
}
.generalidades{
	background: red;
	color: blue;
	margin-top: 12%;
	margin-left: 25%
	margin-top: 10%;
	text-align: left;
	width: 50%;
}
.generalidades1{
	vertical-align: middle;
	display: inline-block;
	width: 35%;
	margin-right: 3%;
	padding-left: 15%;
}
.seguridad{
	
	color: red;
	width: 50%;
	text-align: center;
	margin-left: 10%;
	margin-top: 10%;
}
.seg1{
	background: #045FB4;

}
.seg2{
	background: black;
	color: white;
	text-align: right;

}
.seg3{
	background: yellow;
	text-align: center;
}
.seg4{	
	text-align: center;	
	width: 125px;
	height: 125px;
	margin-left:20%;
}
.amenazas{
	margin: 6% 15% 1%;
}
.amenaza{	
	display: inline-block;
	width: 60%;
	text-align: center;
	margin-top: 4%;
	font-family: verdana;
	color: red;
}
.amenaza5{
	background: orange;
	margin: 3% 3% 1% 20%;
	width: 30%;	
	border-width: 6px;
	border-style: double;
	border-color: black;	 
}
.amenaza6{
	display: inline-block;
	width: 795px;
	height: 590px;
	margin-left: 20%;
}
.amenaza7{
margin-bottom: 8%;
}
.obj1{	
	width: 60%;
	margin: 8% 20% 2% 20%;
	text-align: center;
}
.obj3{
	width: 88%;
	margin: 0% 6% 2% 6%;
	text-align: justify;
}
.obj5{
	width: 88%;
	margin: 0% 6% 1% 6%;
	text-align: left;
}
.obj6{
	width: 88%;	
	margin: 0% 6% 2% 6%;
	vertical-align: 3%;
}
.obj7{
	display: inline-block;
	width: 70%;
	text-align: justify;
	margin-right: 3%
}
.obj8{
	display: inline-block;	
	width: 270px;
	height: 200px;		
}
.obj9{
	width: 88%;
	margin: 0% 6% 10% 6%;
	text-align: justify;
	padding-top: 2%;
}
.obj10{	
	width: 60%;
	margin: 0% 20% 2% 20%;
	text-align: center;
}
.obj11{
	width: 80%;	
	text-align: left;
	}
.obj12{
		margin-bottom: 10%;
		color:red;		
	}